doctype html
html(lang="ru")

    head
        include ./inc/_head
    body
        include ./inc/_header
        .top-content
            .container
                .top-text.col-lg-8.col-sm-6.col-xs-12
                    .top-text-large
                        h1 КОМПЕНСИРУЕМ ДО 1500 ГРН
                    .top-text-less
                        h3 НА РЕКЛАМУ В GOOGLE ADWORDS
                .top-img.col-lg-4.col-sm-6.col-xs-12
                    img(src=imgPath + "rocket.png")
        .fearutes
            .container
                .row.top-items
                    .item.col-lg-4.col-md-4
                        .item-top
                            p Проводим анализ
                            p вашего сайта
                            .line-top-l.hidden-sm.hidden-xs
                                hr
                            .line-top-left.hidden-sm.hidden-xs
                                hr
                    .item.col-lg-4.col-md-4
                        .item-top
                            p Подбираем ключевые слова,
                            p которые будут продавать
                            .line-top-center.hidden-sm.hidden-xs
                                hr
                    .item.col-lg-4.col-md-4
                        .item-top
                            .top-right-text
                                p Настройка
                                p конверсий
                            .line-top-r.hidden-sm.hidden-xs
                                hr
                            .line-top-right.hidden-sm.hidden-xs
                                hr
                .row.center-items
                    .item.col-lg-3.col-md-4
                        .center-left.item-center
                            .center-left-text
                                p Минус-словa
                            .line-center-left.hidden-sm.hidden-xs
                                hr
                    .item.col-lg-6.img-google.col-md-4
                        img(src=imgPath+"google-img.png")
                    .item.col-lg-3.col-md-4
                        .center-right.item-center
                            .center-right-text
                                p Акции
                            .line-center-right.hidden-sm.hidden-xs
                                hr
                .row.bottom-items
                    .item.col-lg-4.col-md-4
                        .item-bottom
                            .line-bottom-l.hidden-sm.hidden-xs
                                hr
                            .line-bottom-left.hidden-sm.hidden-xs
                                hr
                            p Улучшаем позицию
                            p обьявлений

                    .item.col-lg-4.col-md-4
                        .item-bottom
                            .line-bottom-center.hidden-sm.hidden-xs
                                hr
                            p Снижаем стоимость клика
                    .item.col-lg-4.col-md-4
                        .item-bottom
                            .line-bottom-r.hidden-sm.hidden-xs
                                hr
                            .line-bottom-right.hidden-sm.hidden-xs
                                hr
                            .bottom-right-text
                                p Ремаркетинг

        .advertising
            .container
                .col-lg-12
                    p.
                        Контекстная реклама - это самый оперативный и простой способ првлечения целевой аудитории на сайт.
                        Если настройка контекстной рекламы была проделана верно, то первый клиент из Google Awords или
                        Яндекс Директ, придет в первий день показа рекламы.
        #order-form
                ul#scene.scene
                    li.layer.stars(data-depth=".55")
                        img(src=imgPath+"footer-bg.png")
                    li.rocketmen.layer(data-depth="0.50")
                        img(src=imgPath+"rocketmen.png")
                    li.order-f.layer(data-depth="0.20")
                        .order-blank
                            h1 РАСЧЕТ СТОИМОСТИ
                            .row
                                .col-lg-6.col-md-12.col-sm-12
                                    input(type="text" placeholder="Ваше имя")
                                    input(type="text" placeholder="Контактный телефон")
                                    input(type="text" placeholder="E-mail")
                                    input(type="text" placeholder="Ссылка на сайт")
                                .col-lg-6.col-md-12.col-sm-12
                                    .keywords
                                        input(type="textarea"  placeholder="Ключевые слова, время показа и пр.")
                                    .button-rocket
                                        button(type="button")
                                            img(src=imgPath+"button-rocket.png")
                                            h3 ЗАКАЗАТЬ
                    li.layer.cloud(data-depth=0.5)
                        .clouds
        .certificate
            .container
                p.
                    Контекстная реклама - это самый оперативный и простой способ првлечения целевой аудитории на сайт.
                    Если настройка контекстной рекламы была проделана верно, то первый клиент из Google Awords или
                    Яндекс Директ, придет в первий день показа рекламы.первый клиент из Google Awords или Яндекс Директ
                .row.certificate-items
                    .col-lg-4.col-md-4
                        .certificate-img
                            img(src=imgPath+"adWords.png")
                        p СЕРТИФИКАТ ADWORDS
                        p по поисковой рекламе
                    .col-lg-4.col-md-4
                        .certificate-img
                            img(src=imgPath+"google-an.png")
                        p СЕРТИФИКАТ GOOGLE
                        p ANALYTICS
                    .col-lg-4.col-md-4
                        .certificate-img
                            img(src=imgPath+"adWords_2.png")
                        p СЕРТИФИКАТ ADWORDS
                        p по мобильной рекламе
        .plan
            .container
                .row.plan-content
                    .col-lg-3.col-md-3.col-sm-5.hidden-xs
                        img(src=imgPath+"rocket-draw.png")
                    .hidden-lg.hidden-md.hidden-sm.col-xs-3.rocket-img
                        img(src=imgPath+"half-rocket-draw.png")
                    .col-lg-9.plan-work.col-md-9.col-sm-7.col-sm-6.col-xs-9
                        .plan-title
                            h1 ПЛАН РАБОТЫ
                        ul
                            li
                                .plan-item
                                    p Вы оставляете запрос на расчёт стоимости и
                                    p коммерческого предложения
                            li
                                .plan-item
                                    p Специалист связывается с Вами и уточняет
                                    p информацию
                            li
                                .plan-item
                                    p Мы подбираем ключевые слова и отправляем
                                    p коммерческое предложение
                            li
                                .plan-item
                                    p Получаете профи настройку и все доступы к
                                    p рекламной компании
        #overly.google-map
            .contact-phone
                h3 (044)500-76-90
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.344560630928!2d30.475717315284083!3d50.43468239638261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceb1535d8801%3A0xd8144182ba993c8b!2z0KHQvtC30LTQsNC90LjQtSDRgdCw0LnRgtC-0LIg0JrQuNC10LIgfCDQktC10LEt0YHRgtGD0LTQuNGPIFJlY2xhbWFyZQ!5e0!3m2!1sru!2sua!4v1469524753488" width="100%" height="542" frameborder="0" style="border:0" allowfullscreen></iframe>
        #order-space
            ul#scene_1.scene
                li.layer.stars(data-depth=".55")
                    img(src=imgPath + "footer-bg.png")
                li.layer.planets(data-depth="0.80")
                    img(src=imgPath + "planets.png")
                li.layer.button-rocket-second
                    button(type="button", data-toggle="modal", data-target="#myModal")
                        img(src=imgPath + "button-rocket.png")
                        h3 ЗАКАЗАТЬ
        .seo-text
            .container
                .col-lg-12
                    p.
                        Seo оптимизированный текст – это текст, в котором содержатся ключевые запросы из поисковых систем. Целью написания таких текстов является привлечение посетителей и оптимизация целевой страницы сайта.
                        Seo оптимизированный текст – это текст, в котором содержатся ключевые запросы из поисковых систем. Целью написания таких текстов является привлечение посетителей и оптимизация целевой страницы сайта.
        .clients
            .container
                h1 НАШИ КЛИЕНТЫ
                - var n = 1
                .row
                    while n <= 4
                        .col-lg-3.clients-item.col-md-3.col-sm-6.col-xs-6
                            img(src=`${imgPath}client${n++}.png`).grayscale

                - var n = 5
                .row
                    while n <= 8
                        .col-lg-3.clients-item.col-md-3.col-sm-6.col-xs-6
                            img(src=`${imgPath}client${n++}.png`).grayscale

        include ./inc/_footer
        include ./inc/_scripts
        .modal.fade#myModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            img(src=imgPath + "close.png")
                        h1 ЗАКАЗАТЬ
                    .modal-body
                        .order-blank
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-xs-12
                                    input(type="text" placeholder="Ваше имя")
                                    input(type="text" placeholder="Контактный телефон")
                                    input(type="text" placeholder="E-mail")
                                .col-lg-6.col-md-12.col-sm-12.col-xs-12
                                    .keywords
                                        input(type="textarea"  placeholder="Комментарий")
                                    .button-rocket
                                        button(type="button")
                                            img(src=imgPath + "button-rocket.png")
                                            h3 ЗАКАЗАТЬ


